### FRONTEND DEPENDENCIES ###
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

### FRONTEND TESTING ###
/frontend/coverage

### FRONTEND PRODUCTION ###
/frontend/build

### FRONTEND MISC ###
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

### SPRING ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Artifact ###
out/

### CUSTOM ###
configRaw.json

### OS ###
.DS_Store

